<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bulk_Fasta_Importer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Bulk_Fasta_Importer.Properties.Settings>
            <setting name="ProteinSeqsDBConnectStr" serializeAs="String">
                <value>host=prismdb2;Port=5432;Database=dms;UserId=svc-dms</value>
            </setting>
            <setting name="DMSConnectStr" serializeAs="String">
                <value>Data Source=gigasax;Initial Catalog=DMS5;Integrated Security=SSPI</value>
            </setting>
        </Bulk_Fasta_Importer.Properties.Settings>
    </applicationSettings>
</configuration>